<title>用户管理</title>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb" style="visibility: visible;">
        <a lay-href="">主页</a><span lay-separator="">/</span>
        <a>系统管理</a><span lay-separator="">/</span>
        <a><cite>用户管理</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <div class="layui-tab-content">
                <form class="layui-form layui-form-pane" action>
                    <input placeholder="输入用户名" autocomplete="off"
                           class="layui-input layui-input-search table-tab-search-input" type="text" name="username">
                    <input placeholder="输入邮箱地址" autocomplete="off"
                           class="layui-input layui-input-search table-tab-search-input" type="text" name="email">
                    <select name="status" class="layui-input layui-input-search table-tab-search-input" lay-ignore>
                        <option value="1">正常</option>
                        <option value="0">封禁</option>
                    </select>
                    <input placeholder="请选择创建时间范围" autocomplete="off"
                           class="layui-input layui-input-search table-tab-search-input" type="text" name="createTime" id="createTime">
                    <a class="layui-btn layui-btn-normal layui-btn-sm table-tab-search-btn" lay-submit=""
                       lay-filter="table-search">查 询</a>

                    <button class="layui-btn layui-btn-primary layui-btn-sm table-tab-search-btn" type="reset">重置
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="layui-card">
        <div class="layui-tab layui-tab-brief">
            <ul class="layui-tab-title">
                <li class="layui-this">用户管理</li>
            </ul>
            <div class="layui-tab-content">
                <table class="layui-hide" id="table-content-user" lay-filter="table-content-user"></table>

                <script type="text/html" id="role">
                    <span class="layui-badge layui-badge-blue">{{d.role.roleName}}</span>
                </script>

                <script type="text/html" id="avatar">
                    <span class="ant-avatar ant-avatar-circle ant-avatar-image"><img draggable="false"
                                                                                     src="{{d.avatar}}"
                                                                                     style="width: 30px;height: 30px;border-radius: 4px;"></span>
                </script>

                <script type="text/html" id="toolbar">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-sm" lay-event="add"><i
                                class="layui-icon layui-icon-add-1"></i>新建
                        </button>
                        <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="batch"><i
                                class="layui-icon layui-icon-delete"></i>删除
                        </button>
                    </div>
                </script>

                <script type="text/html" id="operation-user">
                    <div class="ant-space ant-space-horizontal ant-space-align-center" style="gap: 8px;">
                        <div class="ant-space-item">
                            <a class="layui-btn layui-btn-sm table-col-btn" lay-event="edit">修改</a>
                        </div>
                        <div class="ant-space-item">
                            <div class="ant-divider ant-divider-vertical"></div>
                        </div>
                        <div class="ant-space-item">
                            <a class="layui-btn layui-btn-sm table-col-btn" lay-event="password">重置密码</a>
                        </div>
                        <div class="ant-space-item">
                            <div class="ant-divider ant-divider-vertical"></div>
                        </div>
                        <div class="ant-space-item">
                            <a class="layui-btn layui-btn-sm table-col-btn table-col-btn-danger" lay-event="del">删除</a>
                        </div>
                    </div>
                </script>

                <script type="text/html" id="status">
                    <input type="checkbox" name="status" user_id="{{d.id}}" status="{{d.status}}" lay-skin="switch"
                           lay-filter="status" {{#if (d.status== 1) { }}checked{{# } }} lay-text="正常|封禁">
                </script>
            </div>
        </div>
    </div>
</div>
<script>
    layui.use(['admin', 'table', 'form', 'treetable', 'iconPicker', 'laytpl','laydate'], function () {
        var $ = layui.$
            , table = layui.table
            , iconPicker = layui.iconPicker
            , admin = layui.admin
            , form = layui.form
            , view = layui.view
            , laytpl = layui.laytpl
            , tree = layui.tree
            , layer = layui.layer
            , laydate = layui.laydate
            , treetable = layui.treetable
            , setter = layui.setter;
        form.render();
        table.render({
            elem: '#table-content-user'
            , url: setter.server.url + 'system/account/page'
            , skin: 'line' //行边框风格
            , size: 'lg'
            , parseData: function (res) {
                return {
                    "code": res.code,
                    "msg": res.message,
                    "count": res.data.count,
                    "data": res.data.list
                };
            }
            , text: {
                none: '<img class="empty-icon" alt="empty" src="res/style/imgs/empty.svg"><p>暂无相关数据</p>' //默认：无数据。
            }
            , response: {
                statusCode: setter.response.statusCode.ok
                , msgName: 'message'
            }
            , toolbar: '#toolbar' //开启头部工具栏，并为其绑定左侧模板
            , title: '用户数据表'
            , cols: [[
                {type: 'checkbox', fixed: 'left'}
                , {field: 'id', title: 'ID', width: 80, fixed: 'left', align: 'center', unresize: true, sort: true}
                , {field: 'avatar', title: '头像', toolbar: '#avatar', width: 80, align: "center"}
                , {field: 'username', title: '用户名', width: 150}
                , {field: 'email', title: '邮箱地址', width: 180}
                , {field: 'role', title: '角色', toolbar: '#role', width: 150}
                , {field: 'loginTime', title: '登录时间', sort: true}
                , {field: 'createTime', title: '创建时间', sort: true}
                , {field: 'status', title: '状态', toolbar: '#status', align: 'center', width: 120}
                , {title: '操作', toolbar: '#operation-user', align: 'center', width: 250}
            ]]
            , page: true
        });

        //头工具栏事件
        table.on('toolbar(table-content-user)', function (obj) {
            let data = obj.data;
            switch (obj.event) {
                case 'add':
                    admin.popup({
                        title: '添加用户'
                        , area: '350px'
                        , offset: '40px'
                        , id: 'popup-content-user'
                        , success: function (layer, index) {
                            view(this.id).render('system/user/userform', data).done(function () {
                                form.render(null, 'table-form-user');
                                /**
                                 * 上级ID选择器
                                 */
                                admin.req({
                                    url: setter.server.url + 'system/role/getList'
                                    , method: 'POST'
                                    , data: null
                                    , done: function (res) {
                                        var data = {
                                            'roleId': null,
                                            'list': res[setter.response.dataName]
                                        }
                                        var getTpl = roles.innerHTML
                                            , view = document.getElementById('view');
                                        laytpl(getTpl).render(data, function (html) {
                                            view.innerHTML = html;
                                        });
                                        form.render();
                                    }
                                });
                                //提交
                                form.on('submit(table-form-user-submit)', function (data) {
                                    var field = data.field; //获取提交的字段
                                    admin.req({
                                        url: setter.server.url + 'system/account/add'
                                        , method: 'POST'
                                        , data: field
                                        , done: function (res) {
                                            layui.layer.msg(res[setter.response.msgName], {'icon': 6});
                                            layui.table.reload('table-content-user'); //重载表格
                                            layui.layer.close(index); //执行关闭
                                        }
                                    });
                                });
                            });
                        }
                    });
                    break;
                case 'batch':
                    var checkStatus = table.checkStatus('table-content-user')
                        ,checkData = checkStatus.data; //得到选中的数据
                    let req = {};
                    for (var i in checkData) {  //遍历数组
                        req[i]=checkData[i].id;
                    }
                    layer.confirm('真的删除选中数据吗?', function (index) {
                        admin.req({
                            url: setter.server.url + 'system/account/batch'
                            , method: 'POST'
                            , data: req
                            , done: function (res) {
                                layer.msg(res[setter.response.msgName], {'icon': 6});
                                layui.table.reload('table-content-user'); //重载表格
                                layer.close(index); //执行关闭
                            }
                        });
                    });
                    break;
            }
        });

        //监听行工具事件
        table.on('tool(table-content-user)', function (obj) {
            let data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('真的删除此行吗', function (index) {
                    admin.req({
                        url: setter.server.url + 'system/account/del'
                        , method: 'POST'
                        , data: data
                        , done: function (res) {
                            layer.msg(res[setter.response.msgName], {'icon': 6});
                            layui.table.reload('table-content-user'); //重载表格
                            layer.close(index); //执行关闭
                        }
                    });
                });
            } else if (obj.event === 'edit') {
                admin.popup({
                    title: '编辑用户'
                    , area: '350px'
                    , offset: '40px'
                    , id: 'popup-content-user'
                    , success: function (layer, index) {
                        view(this.id).render('system/user/userform', data).done(function () {
                            form.render(null, 'table-form-user');
                            /**
                             * 上级ID选择器
                             */
                            admin.req({
                                url: setter.server.url + 'system/role/getList'
                                , method: 'POST'
                                , data: null
                                , done: function (res) {
                                    var data = {
                                        'roleId': obj.data.role.roleId,
                                        'list': res[setter.response.dataName]
                                    }
                                    var getTpl = roles.innerHTML
                                        , view = document.getElementById('view');
                                    laytpl(getTpl).render(data, function (html) {
                                        view.innerHTML = html;
                                    });
                                    form.render();
                                }
                            });
                            //提交
                            form.on('submit(table-form-user-submit)', function (data) {
                                var field = data.field; //获取提交的字段
                                field.id = obj.data.id;
                                admin.req({
                                    url: setter.server.url + 'system/account/edit'
                                    , method: 'POST'
                                    , data: field
                                    , done: function (res) {
                                        layui.layer.msg(res[setter.response.msgName], {'icon': 6});
                                        layui.table.reload('table-content-user'); //重载表格
                                        layui.layer.close(index); //执行关闭
                                    }
                                });
                            });
                        });
                    }
                });
            } else if (obj.event === 'password') {
                admin.popup({
                    title: '重置密码'
                    , area: '350px'
                    , offset: '40px'
                    , id: 'popup-content-user'
                    , success: function (layer, index) {
                        view(this.id).render('system/user/password', data).done(function () {
                            form.render(null, 'table-form-user');
                            //提交
                            form.on('submit(table-form-user-submit)', function (data) {
                                var field = data.field; //获取提交的字段
                                field.id = obj.data.id;
                                admin.req({
                                    url: setter.server.url + 'system/account/password'
                                    , method: 'POST'
                                    , data: field
                                    , done: function (res) {
                                        layui.layer.msg(res[setter.response.msgName], {'icon': 6});
                                        layui.table.reload('table-content-user'); //重载表格
                                        layui.layer.close(index); //执行关闭
                                    }
                                });
                            });
                        });
                    }
                });
            }
        });
        form.on('switch(status)', function (obj) {
            let status;
            if ($(this).attr('status') == 0) {
                status = 1
            } else {
                status = 0
            }
            let data = {
                'userId': $(this).attr('user_id'),
                'status': status
            }
            admin.req({
                url: setter.server.url + 'system/account/status'
                , method: 'POST'
                , data: data
                , done: function (arr) {
                    layui.layer.msg(arr[setter.response.msgName], {icon: 6});
                    layui.table.reload('table-content-user'); //重载表格
                }
            });
        });
        laydate.render({
            elem: '#createTime'
            ,type: 'datetime'
            ,range: '到'
        });
        /**
         * 字段搜索
         */
        form.on('submit(table-search)', function (res) {
            var field = res.field; //获取提交的字段
            //执行重载
            table.reload('table-content-user', {
                url: setter.server.url + 'system/account/page'
                , methods: "post"
                , where: field
                , page: {
                    curr: 1
                }
            });
        });
    });
</script>